nyc-parking-tickets/*
ProducerCSV/project/target/*
ProducerCSV/target/*
ProducerCSV/.idea/*
ProducerCSV/project/project/
ProducerDrone/project/target/*
ProducerDrone/target/*
ProducerDrone/.idea/*
ProducerDrone/project/project/
ConsumerAlert/project/target/*
ConsumerAlert/target/*
ConsumerAlert/.idea/*
ConsumerAlert/project/project/
StreamAlert/project/target/*
StreamAlert/target/*
StreamAlert/.idea/*
StreamAlert/project/project/